*{
    padding: 0;
    margin: 0;
}
.nav {
    height: 150px;
    background-color: #333;
}
.map {
    height: 460px;
    display: flex;
    justify-content: center;
}
.map .mapImg {
    width: 1220px;
    height: 460px;
    position: relative;
    overflow: hidden;
}
.map .mapImg ul {
    position: absolute;
    top: 0;
    left: 0;
}
.map ul li {
    float: left;
    width:  1220px;
    height: 460px;
    list-style: none;
}
.map ul li img {
    width: 100%;
    height: 100%;
}