* {
    padding: 0;
    margin: 0;
}
body {
    background-color: gray;
}
.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
}
.container .bigBox {
    width: 597px;
    height: 372px;
    overflow: hidden;
    position: relative;
}
.container .bigBox .leftMark {
    width: 50%;
    height: 100%;
    background-color: red;
    filter: alpha(opacity = 0);
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 2999;
}
.container .bigBox  .prev{
    width: 60px;
    height: 60px;
    background: url(../img/btn.gif) top no-repeat;
    position: absolute;
    top:170px;
    left: 15px;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 3000;
}
.container .bigBox .rightMark {
    width: 50%;
    height: 100%;
    background-color: blue;
    filter: alpha(opacity = 0);
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 2999;
}
.container .bigBox .next {
    width: 60px;
    height: 60px;
    background: url(../img/btn.gif) bottom no-repeat;
    position: absolute;
    top:170px;
    right: 15px;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 3000;
}
.container .bigBox ul {
    position: relative;
}
.container .bigBox li {
    width: 597px;
    height: 372px;
    list-style: none;
    position: absolute;
    overflow: hidden;/*图片下拉效果需要溢出隐藏*/
}
.container .bigBox li img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.container .smallBox {
    width: 597px;
    height: 117px;
    background-color: #dedede;
    overflow: hidden;
    position: relative;
}
.container .smallBox ul {
    width: 1200px;
    position: absolute;
    left: 0;
    top: 0;
}
.container .smallBox  li{
    float: left;
    width: 187px;
    height: 107px;
    border: 6px solid #dedede;
    list-style: none;
    cursor: pointer;
    filter: alpha(opacity=30);
    opacity: .3;
    overflow: hidden;
}
.container .smallBox li img {
    width: 100%;
    height: auto;
}

